::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex{
    box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
    border-radius: 50px;
}
::ng-deep .mat-form-field-outline-end, ::ng-deep .mat-form-field-outline-gap{
    border-right-style: none !important;
    border-left-style: none !important;
    border-top-style: none !important;
    border-bottom-style: none !important;
}
::ng-deep  .mat-form-field-outline-start{
    border-right-style: none !important;
    border-left-style: none !important;
    border-top-style: none !important;
    border-bottom-style: none !important;
    min-width:auto !important;
}
::ng-deep  .mat-form-field-infix{
    display: inline-flex !important;
}