<div id="main">
    <div class="container">
        <div class="lg-forbidden">
            <div class="lg-forbidden-content">
                <div class="sc-title align-center">
                    <span>Acceso no Autorizado</span>
                </div>
                <img class="img-access-denied" src="../../../assets/img/access-denied.png" alt="">

                <button class="primary-theme-button" (click)="onBack()" color="primary">Volver</button>
            </div>
        </div>
    </div>
</div>