header {
    border-top: 5px solid linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
}

.lg-form-container{
    padding-left: 35px;
    padding-right: 35px;
}

::ng-deep .lg-form-content mat-form-field{
   font-family: Poppins;
}

.lg-email-form{
    padding-top: 20px;
    font-family: Poppins;
}

.lg-submit-form{
    position: relative;
}

.lg-problems-form {    
    text-align: center;
}

.lg-problems-form a{
    text-decoration: none;
}

.lg-img{
    margin-top: 40px;
    text-align: center;
}

@media(max-width:768px){
    .lg-img{
        margin: 10px;
    }
    .lg-img img{
        width: 130px;
    }
}
@media(max-height:800px){
    .lg-img{
        margin-top: 10px;
    }
    .lg-img img{
        width: 130px;
    }
}